.navigation__menu {
    position:fixed;
    top:0;
    left:0;
    opacity: .8;
   
}

.menu__icon {
    cursor: pointer;
    /* position:absolute; */
    z-index: 51;;
    /* top:0;
    left:0; */
}

.navigation__core {
    position: relative;
    transition: 600ms all;
    transition-timing-function: ease-in;
}


.menu__open__icon {

    cursor: pointer;
   
    z-index: 51;
}

.navigation__list{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* padding-left:5px;
    padding-right: 5px; */
    min-width: 200px;
    height:100vh;
    background: rgba(17, 17, 117, 0.726);
    padding-top: 30px;
}

.navigation__list> p{
    
    /* font-weight: 700; */
    
    /* width: 100%; */
    /* text-align: start; */
    margin:2px 0;
    cursor: pointer;
    padding:0px 5px;
    color:white;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

.navigation__list > p:hover
{
    background-color: gray;
}


.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  
  .scale-out-hor-left {
	-webkit-animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes scale-out-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
  }
  @keyframes scale-out-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
  }
  

  .nav__icon{
      position:absolute;
      top:0;
      left:0;
      z-index: 55;
  }